.header-black {
	background-color: #000;
	width: 100%;
	padding: 1rem;
	position: absolute;
	top: 0;	

}

.header-roxo {
		background-color: #6b3b99;
		width: 100%;
		padding: 5rem;	
		position: absolute;
		top: 50px;
	}